:root {
  --purple: rgb(83, 49, 156);
  --text-color: rgb(44, 44, 44);
}

body {
  background-color: rgb(233, 223, 255);
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  color: var(--text-color);
}

h1 {
  color: var(--purple);
  text-transform: capitalize;
  margin: 32px 0 64px 0;
}

.container {
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0 64px 64px 64px;
  position: relative;
}

.tabs {
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(200, 175, 255);
  margin: 0 0 32px 0;
  padding: 16px;
}

.tabs p {
  padding: 8px;
  position: relative;
  /* transition: all 0.15s; */
}

.tabs p:hover {
  color: var(--purple);
  cursor: pointer;
}

.tabs p.active {
  color: var(--purple);
}

/* .tabs p:hover::before, */
.tabs p.active::before {
  content: "";
  width: 200%;
  height: 4px;
  background-color: var(--purple);
  position: absolute;
  bottom: -32px;
  left: -50%;
  z-index: 2;
  border-radius: 10px;
}

.line {
  height: 3px;
  width: 100%;
  position: absolute;
  top: 98px;
  background-color: rgb(231, 231, 231);
}

.toggle-wrapper {
  display: flex;
}

.toggle-wrapper img {
  height: 40px;
  margin: 0 16px;
}

.toggle {
  box-sizing: border-box;
  background-color: var(--purple);
  height: 32px;
  width: 140px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px 0 16px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.toggle span:first-of-type {
  color: white;
}

.toggle span:last-of-type {
  background-color: white;
  color: var(--purple);
  padding: 4px 16px;
  border-radius: 20px;
}

.sessions-card {
  background-color: rgb(250, 247, 255);
  text-align: center;
  padding: 32px;
  width: 50%;
  text-transform: uppercase;
  margin: 16px 0;
  border-radius: 10px;
}

.sessions-card p {
  color: var(--text-color);
  font-size: 12px;
  font-weight: bold;
  margin: 16px 0 0 0;
}

.sessions-card .number {
  color: var(--purple);
  font-size: 54px;
  margin: 0;
}

.description {
  line-height: 32px;
  margin: 16px 0 32px 0;
}

.slider {
  width: 100%;
  position: relative;
  margin-bottom: 16px;
}

.slider .bar {
  width: 100%;
  height: 16px;
  background-color: rgb(248, 248, 248);
  border: 1px solid rgb(210, 210, 210);
  border-radius: 20px;
}

.slider .progress {
  width: 31%; /* NOTE: change this dynamically with JS */
  height: 18px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(53, 10, 74, 1) 36%,
    rgba(83, 49, 156, 1) 1000%
  );
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.slider .point {
  width: 24px;
  height: 24px;
  background-color: var(--purple);
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: 29%; /* NOTE: change this dynamically with JS, same as above - 2% */
  border: 2px solid white;
  transition: transform 0.2s ease;
}

.slider .point:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.slider .scale {
  width: 100%;
}

.slider .scale ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  font-weight: bold;
  color: rgb(166, 166, 166);
}

.card-wrapper {
  display: flex;
}

.card {
  background-color: rgb(250, 247, 255);
  border-radius: 16px;
  margin: 16px;
  padding: 16px 32px;
  box-shadow: 0 3px 11px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: bold;
  color: rgb(83, 49, 156);
  transition: transform 0.2s ease;
  position: relative;
}

/* .card:last-of-type() { */
/*   border-top-right-radius: 0px; */
/*   border-top-left-radius: 0px; */
/* } */

.card:hover {
  transform: translateY(-8px);
}

.card .top-section {
  padding: 8px;
  text-transform: uppercase;
}

.card .top-section p {
  margin: 4px 0;
}

.card .price {
  font-size: 42px;
  color: var(--text-color);
}

.card hr {
  width: 30%;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 2px;
}

.card button {
  text-transform: capitalize;
  border: none;
  color: white;
  background-color: var(--purple);
  padding: 16px;
  border-radius: 10px;
  transition: transform 0.2s ease;
  font-weight: bold;
  margin: 8px 0;
}

.card button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card .save-header {
  color: white;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(53, 10, 74, 1) 36%,
    rgba(83, 49, 156, 1) 1000%
  );
  position: absolute;
  top: -24px;
  left: 0;
  width: 100%;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}
