:root {
  --purple: rgb(83, 49, 156);
}
body {
  background-color: rgba(233, 223, 255);
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px;
  color: rgb(44, 44, 44);
}

h1 {
  color: var(--purple);
  text-transform: capitalize;
}

.container {
  background-color: white;
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.tabs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(200, 175, 2525);
}

.tabs a {
  text-decoration: none;
  color: inherit;
  /* NOTE: padding was 16px (because Colt used p), but I changed it */
  padding: 32px;
}

.tabs a:hover,
.tabs a.active {
  color: var(--purple);
}
