* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  width: 300px;
  height: 300px;
  background: conic-gradient(cyan, yellow, magenta, cyan);
  border-radius: 50%;
  border: 2px solid honeydew;
  position: relative;
  animation: spin 1s linear infinite;
  cursor: wait;
}

.spinner::after {
  content: "";
  width: 86%;
  height: 86%;
  background-color: ivory;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
