* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cormorant", serif;
}

h1,
.links,
.links li {
  display: inline-block;
}

.navbar {
  margin: 32px;
}

h1 {
  font-weight: 300;
  margin-right: 32px;
}

.links a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin: 0 8px;
}

a.active {
  border-bottom: 1px solid black;
}

.gallery {
  padding: 16px;
}

.card {
  width: 49.75%;
  display: inline-block;
  padding: 16px;
}

.card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.card img:hover {
  opacity: 0.9;
}

.card h2 {
  display: inline-block;
  margin: 8px 0 16px 0;
  font-weight: 300;
}

.about {
  width: 40%;
  min-width: 600px;
  margin: 100px 0 100px 200px;
}

.about h3 {
  font-size: 40px;
  font-weight: 300;
}

.contact {
  margin-top: 100px;
}

.contact p {
  font-size: 20px;
  padding: 3px;
}

.contact p a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.cta {
  border-bottom: 1px solid #000;
  display: inline-block;
  padding-bottom: 8px;
  margin-top: 40px;
}

@media only screen and (max-width: 1000px) {
  .card {
    width: 100%;
    padding: 0;
  }

  .about {
    margin: 100px 0 100px 100px;
  }
}

@media only screen and (max-width: 700px) {
  .gallery {
    padding: 8px;
  }

  .card {
    padding: 0;
  }

  .about {
    margin: 50px auto;
    min-width: 450px;
  }
}
